.PastorForm{

}

.PastorForm-heading{
    font-size: 2.3rem;
    font-weight: 400;
}

.PastorForm-subTitle{
    font-size: 2rem;
    color:var(--success);
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--body-bg);
    padding-bottom: 1rem;

}