.ParishForm{

}

.ParishForm-heading{
    font-size: 3rem;
}

.ParishForm-subTitle{
    font-size: 2rem;
    color:var(--success);
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--body-bg);
    padding-bottom: 1rem;
}